<%= javascript_include_tag "slides_index" %>

<%= form_tag :multi_slides_move, id: 'slide_select_form', remote: true do %>

<div id="edit_bar">
<span class="icon-cog" id="edit_mode_button"></span>

<%- model_class = Slide -%>

<%= hidden_field_tag '_method', '' %>
<%= hidden_field_tag 'new_album_id', '' %>


<%= button_tag "Move selected", { :type => 'button', :id => 'move_selected_button', :class => 'btn edit-button' } %>
<%= button_tag "Delete selected", { :type => 'button', :id => 'delete_selected_button', :class => 'btn btn-danger edit-button'} %>

</div>

<div class="slides-container">
  <ol class="slides-list" id="those_selected">
  </ol>
</div>

<div class="slides-containter" id="selectable">
  <ol class="slides-list">
    <% @slides.each do |slide| %>    
    <li id="<%= "li_#{slide.id}" %>" class="ui-widget-content">
      <%= check_box_tag "ids[]", slide.id, false, class: "multi-select", id: "slide_select_#{slide.id}" %>
      <div>
        <%= image_tag slide.photo.url(:thumb), data: { src_medium: slide.photo.url(:medium)}, class: "slide-thumb" %>
      </div>
    </li>
    <% end %>  
  </ol>
</div>

<% end %>
<div id="dialog-move-slides-to-album" title="Move selected slides to:" class="hide">
 <%= select_tag "select_new_album_id", options_for_select(@other_albums.collect{ |album| [album.name, album.id]}) %>
</div>

<div id="slideshow_div">
  <span class="slideshow-button icon-remove-sign" id="close_button"></span>
  <span class="slideshow-button icon-chevron-left" id="prev_button"></span>
  <span class="slideshow-button icon-chevron-right" id="next_button"></span>
  <img id="slideshow_slide_placeholder" src="">
</div>

<%= render :partial => 'albums/show_buttons' %>

