<%- model_class = Slide -%>
<div class="page-header">
  <h1><%= @album.name %> <%=t '.title', :default => model_class.model_name.human.pluralize.titleize.downcase %></h1>
</div>

<%= form_for :album_slides_multi, method: :delete, id: 'multi-select', remote: true do |f| %>
<%= f.submit "Delete selected",
  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
  :class => 'btn btn-danger'
%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:thumbnail) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:photo_file_name) %></th>
      <th><%= model_class.human_attribute_name(:photo_content_type) %></th>
      <th><%= model_class.human_attribute_name(:photo_file_size) %></th>
      <th><%= model_class.human_attribute_name(:photo_updated_at) %></th>
      <th><%= model_class.human_attribute_name(:photo_fingerprint) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @slides.each do |slide| %>
    <tr id="slide_<%= slide.id %>">
      <td><%= check_box_tag "ids[]", slide.id, false, class: "multi-select", id: "slide_select_#{slide.id}" %></td>
      <td><%= link_to slide.id, slide_path(slide.id) %></td>
      <td><%= image_tag slide.photo.url(:thumb) %></td>
      <td><%= slide.description %></td>
      <td><%= slide.photo_file_name %></td>
      <td><%= slide.photo_content_type %></td>
      <td><%= slide.photo_file_size %></td>
      <td><%= slide.photo_updated_at %></td>
      <td><%= slide.photo_fingerprint %></td>
      <td><%=l slide.created_at %></td>
      <td>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_slide_path(slide), :class => 'btn btn-mini' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
        album_slides_multi_path(slide.album.id, slide.id),
        :method => :delete,
        :class => 'btn btn-mini btn-danger',
        :remote => true %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%= render :partial => 'albums/show_buttons' %>

