<%- model_class = Slide -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:thumbnail) %>:</strong></dt>
  <dd><%= image_tag @trashed_slide.photo.url(:thumb) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:oryginal_file_path) %>:</strong></dt>
  <dd><%= @trashed_slide.photo.url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @desc = @trashed_slide.description; @desc.blank? ? "&nbsp;".html_safe : @desc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:photo_file_name) %>:</strong></dt>
  <dd><%= @trashed_slide.photo_file_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:photo_content_type) %>:</strong></dt>
  <dd><%= @trashed_slide.photo_content_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:photo_file_size) %>:</strong></dt>
  <dd><%= @trashed_slide.photo_file_size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:photo_updated_at) %>:</strong></dt>
  <dd><%= @trashed_slide.photo_updated_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:photo_fingerprint) %>:</strong></dt>
  <dd><%= @trashed_slide.photo_fingerprint %></dd>
  <dt><strong><%= model_class.human_attribute_name(:album_id) %>:</strong></dt>
  <dd><%= @trashed_slide.album.name %></dd>
</dl>

<!-- EXIF -->
<% if EXIFR::JPEG.new(@trashed_slide.photo.path).exif? %>
  <dl class="dl-horizontal">
  <% EXIFR::JPEG.new(@trashed_slide.photo.path).exif.to_hash.each do |key, value| %>
  <dt><strong><%= key %>:</strong></dt>
  <dd><%= value %></dd>
  <% end %>
</dl>
<% end %>

<div class="form-actions">
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
  trash_path(@trashed_slide.id),
  :method => 'delete',
  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
  :class => 'btn btn-danger' %>
</div>
